/env/

.idea/

adminapp/__pycache__/

authapp/__pycache__/

basketapp/__pycache__/

geekshop/__pycache__/

mainapp/__pycache__/

ordersapp/__pycache__/

adminapp/migrations/__pycache__/

authapp/migrations/__pycache__/

basketapp/migrations/__pycache__/

ordersapp/migrations/__pycache__/

mainapp/migrations/__pycache__/
